[Unit]
Description=SoundPi Start Service
After=multi-user.target
 
[Service]
ExecStart=/usr/local/bin/scripts/soundpistart.sh &
 
[Install]
WantedBy=multi-user.target
