[Unit]
Description=SoundPi Stop Service
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/local/bin/scripts/soundpistop.sh

[Install]
WantedBy=multi-user.target

